asgiref
awscli
awsebcli
bcrypt
black
blessed
botocore
cement
certifi
cffi
charset-normalizer
click
colorama
coverage
coveralls
cryptography
decorator
deprecated
django
docopt
docutils
fabric
flake8
idna
invoke
jmespath
mccabe
mypy-extensions
packaging
paramiko
pathspec
platformdirs
pyasn1
pycodestyle
pycparser
pyflakes
pynacl
python-dateutil
pytokens
pyyaml
requests
rsa
s3transfer
semantic-version
setuptools
six
sqlparse
termcolor
urllib3
wcwidth
wrapt
